
        div.home-root{
        margin: 0px auto;
        width: 90%;
        /* in test */
        scroll-behavior: smooth;

        }

        /* nav area  */
        div.navbar-box{
        width: 90vw;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.964);
        display: block;
        margin-bottom: 3.4rem;
        z-index: 100;
        }


        /* ------------mid sarea--------------  */
        div.body{
                position: relative;
                top:9.5rem;
        }
        div.mid-box{
               
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 0.5rem;

        }




        /* --------------left ------------*/
        div.left-area{
        width: 100%;

        }

        /* text */
        div.text-area{
        margin-bottom: 4em;
        /* border: greenyellow 2px solid; */
        }
        div.text-area  h1.left-h1{

        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 90px;
        display: flex;
        align-items: center;
        color: #000000;

        margin-bottom: 0.5rem;
        }
        div.text-area p.ptag{
        font-family: Inter;
        font-weight: 300;
        /* font-size: 70px;
        line-height: 90px; */
        display: flex;
        align-items: center;
        color: #424242;
        }




        /* --------------right area------------------  */
        div.right-area{
        width: 100%;
        }
        div.right-area img.right-imagebg{
         margin-top: 1rem;
        width: 100%;
        height: 350px;
        }


        /* -----------------------------DOWN----------------------------------down */
        div.bottom-cart{
                margin-top: 0px;
                width: 100%;
        /* border: 1px red solid; */

        }
        div.root-down-cart{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        }
        p.ptag-down{
                font-family: Inter;
                margin-left: 2.8rem;
                font-weight: 500;
                text-align: center;
                display: flex;
                align-items: center;
                color: #f53030;
                border-bottom: peru 1px solid;
                display: inline-block;
        }



        /* -----------media --------------- */

        /* -----------media --------------- */

        /* -----------media --------------- */
        @media screen and (max-width:1260px){

        div.navbar-box{
        margin-bottom: 0rem;
        }
        div.mid-box{
        flex-direction: column-reverse;
        border: none;
        /* border: rgb(165, 123, 45) 1px solid; */
        /* margin-bottom: 0px; */

        } 


        /* img */
      

        /* navbar */
        div.navbar-container{
        margin-top: 5vh;
        flex-direction: column;
        }
        ul.ul-box{
        width: 100%;
        }
        li.list a.links{   
        font-size: 15px;
        line-height: 20px;
        }


        /* text */
        div.left-area{
        width: 1fr;
        }
        div.text-area{
        margin-bottom: 1.5em;
        /* width: 100%; */
        margin-bottom: 3rem;

        }
        div.text-area  h1.left-h1{
        font-size: 2.7rem;
        line-height: 3.8rem;
        }


        /* input area  */

        }
