
        div.home-root{
        margin: 0px auto;
        width: 90%;

        }

        /* nav area  */
        div.navbar-box{
        margin-bottom: 3.4rem;
        }


        /* ------------mid sarea--------------  */
        div.mid-box{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        }




        /* --------------left */
        div.left-area{
        width: 100%;

        }

        /* text */
        div.text-area{
        margin-bottom: 2.9em;
        /* border: greenyellow 2px solid; */
        }
        div.text-area  h1.left-h1{

        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 90px;
        display: flex;
        align-items: center;
        color: #000000;

        margin-bottom: 0.5rem;
        }
        div.text-area p.ptag{
        font-family: Inter;
        font-weight: 300;
        /* font-size: 70px;
        line-height: 90px; */
        display: flex;
        align-items: center;
        color: #424242;
        }



        /* input area */
        div.input-area{
        /* border: rgb(238, 33, 204) 1px solid; */
        }


        /* --------------right area------------------  */
        div.right-area{
        width: 100%;
        }

        div.right-area img.right-imagebg{
        width: 100%;
        height: 400px;
        }









        /* -----------media --------------- */

        /* -----------media --------------- */

        /* -----------media --------------- */
        @media screen and (max-width:1260px){

        div.navbar-box{
        margin-bottom: 0rem;
        }
        div.mid-box{
        flex-direction: column-reverse;
        border: none;

        } 


        /* img */
        div.right-area{
        /* border: 2px solid rgb(42, 218, 26); */
        }

        


        /* navbar */
        div.navbar-container{
        margin-top: 5vh;
        flex-direction: column;
        }
        ul.ul-box{
        width: 100%;
        }
        li.list a.links{   
        font-size: 15px;
        line-height: 20px;
        }


        /* text */
        div.left-area{
        width: 1fr;
        }
        div.text-area{
        margin-bottom: 1.5em;
        /* width: 100%; */
        margin-bottom: 3rem;

        }
        div.text-area  h1.left-h1{
        font-size: 2.7rem;
        line-height: 3.8rem;
        }


        /* input area  */

        }
