


div.search-area-component{
    /* border: 2px solid red;
    height: 200px; */

}


form.search-area-form{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: fit-content;
    /* border: 2px solid greenyellow; */
}





/* submit form */
.submit{
width: 323px;
height: 5rem;
background: rgb(63, 54, 231);
border-radius: 20px;

font-family: Inter;
font-weight: 80%;
font-size: 50px;
text-align: center;
color: #FFFBFB;
border: none;
outline: none;
}

.submit:hover{
    background-image: linear-gradient(to right ,rgb(65, 58, 206) ,rgb(83, 5, 119));
}



  /* input element */
 
  form.search-area-form div.form-input-container{
    display: flex;
    flex-direction:column;
    height:7rem;
    justify-content: space-between;
    /* border: 2px solid greenyellow; */
    margin-bottom: 4rem;
}

  input.ownCss{
      border-radius: 20px;
      outline-style: none;
      height: 2rem;


width: 465px;
height: 41px;


font-size: 20px;
line-height: 24px;
padding-left: 10px;
box-sizing: border-box;

border: 1px gray solid;
  }