
.kingo{
        border: rgb(46, 40, 12) 2px solid;
        background-color: rgb(73, 13, 153);
        color: rgb(249, 249, 250);
        line-height: 40px;
        list-style: none;
      padding: 8px;
       font-size: 1.5em;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        width: 80%;
        
}
/* on text upper */

        form.search-area-form{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        height: fit-content;
        }


        /* submit form */
        .submit{
        width: 45%;
        height: 1.7em;
        background: rgb(63, 54, 231);
        border-radius: 20px;

        font-family: Inter;
        font-weight: 80%;
        font-size: 50px;
        text-align: center;
        color: #FFFBFB;
        border: none;
        outline: none;
        }
        .submit:hover{
        background-image: linear-gradient(to right ,rgb(65, 58, 206) ,rgb(83, 5, 119));
        }

        

        /* input element */
        form.search-area-form div.form-input-container{
        display: flex;
        flex-direction:column;
        height:5.8rem;
        justify-content: space-between;
        margin-bottom: 3rem;
        }

        input.ownCss{
        border-radius: 20px;
        outline-style: none;
        width: 65%;
        height: 2.3rem;
        font-size: 1em;

        padding-left: 10px;
        border: 1px gray solid;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        color: #414141;
        }






        /* media */     /* media *     /* media */
    
        @media screen and (max-width:1260px){

        form.search-area-form div.form-input-container{ 
        margin-bottom: 2rem;
        }


        /* submit form */
        .submit{         
        font-size: 30px;
        margin-bottom: 100px;
        }


        input.ownCss{
        width: 90%;
        }

        }