
    
        
        /* laoding image */
        div.submitBox{
        display: flex;
        }
        img.loading-image{
        margin-left: 3rem;
        width:4em;
        height: 4em;
        }
        /* end loading */



        /* on text upper */
        form.search-area-form{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        height: fit-content;
        
        }



        /* submit form */
        .submit{
        width: 45%;
        height: 1.7em;
        background: rgb(63, 54, 231);
        border-radius: 20px;

        font-family: Inter;
        font-weight: 80%;
        font-size: 50px;
        text-align: center;
        color: #FFFBFB;
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
        transition: all 0.7s  cubic-bezier(0.55, 0.86, 0.45, 0.94) ;

        }
        .submit:hover{
        width: 50%;         
        background-color: rgb(100, 3, 156);
        }



        /* input element */
        form.search-area-form div.form-input-container{
        display: flex;
        flex-direction:column;
        height:5.8rem;
        justify-content: space-between;
        margin-bottom: 3rem;
/*          border: tomato 2px solid; */
       
              
        }
        input.ownCss{
        border-radius: 20px;
        outline-style: none;
        width: 65%;
        height: 2.3rem;
        font-size: 1em;

        padding-left: 10px;
        border: 1px gray solid;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        color: #414141;
        }






        /* media */     /* media *     /* media */

        @media screen and (max-width:1260px){

        form.search-area-form div.form-input-container{ 
        margin-bottom: 2rem;
        }


        /* submit form */
        .submit{         
        font-size: 30px;
        margin-bottom: 1rem;
        }


        input.ownCss{
        width: 90%;
        }

        }
